body {
    background-image: url("bg3.jpeg");
    /* background-size: cover; */
}

/* .nav-container {
    background-color: rgba(70, 64, 64, 0.9);
}

#navbar {
    background-color: rgba(70, 64, 64, 0.9);
} */